:root {
    --tareas: #ee5f5f;
    --secondary: #35a1e9ee;
    --light: #fff;
    --letra: #000;
    --off: #e7e7e7;
    --add:#A5C882;
}


    

body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--off);
}

*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 10px;
}



.list {
    margin: 25px auto;
    padding: 25px;
    background-color: var(--light);
    width: 100%;
    max-width: 650px;
    background-image: url(./Bob_Esponja_Gary_el_Caracol.png);
    background-repeat: no-repeat;
    background-position-x: center;
    

}

#fecha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#fechaI {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 70px;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 35px;
}

#fechaM,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#fechaM,
#fechaA {
    margin-left: 7px;
    font-size: 25px;
   }

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--off);
}

input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--add);
}

.orderButton {
    background-color: var(--secondary);
    color: var(--light);
}

.task {
    background-color: var(--tareas);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
}

.done {
    background-color: var(--off);
    text-decoration: line-through;
    color: var(--letra);
}